{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magasin{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Magasin #1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarOptions">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'rechercher_produit' %}">Rechercher un produit</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'enregistrer_vente' %}">Enregistrer une vente</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'retour_vente' %}">Gestion des retours</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'liste_produits' %}">État du stock (Magasin)</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'liste_produits_central' %}">État du stock (Stock Central)</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'demande_reappro' %}">Déclencher réapprovisionnement</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
